.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EEEEEE;
    padding: 0;
    padding-bottom: 15px;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  
  .logo {
    margin-left: 130px;
    margin-right: 0px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  
  .logo img {
    height: 100px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #CC241B;
    border-radius: 15px;
    padding-left: 0px;
    padding: 5px; 
    flex: 1.5; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  }
  
  .menu-icon {
    color: white;
    font-size: 20px;
  }

  .search-icon {
    color: white;
    font-size: 20px;
    margin-left: 10px;
  }

  .notification-icon {
    color: black;
    font-size: 20px;
    margin-left: 10px;
    padding-right: 25px;
  }

  .search-input {
    flex: 1;
    border: none;
    border-radius: 15px;
    padding: 5px;
    color: white;
    background-color: transparent;
    height: 40px;
  }
  .search-input::placeholder {
    color: white;
    opacity: 1;
  }
  
  .contact-btn,
  .account-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
  height: 40px;
  background-color: #CC241B;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  
.account-btn {
    background-color: white;
    color: black;
  }
  

  
  .header-buttons {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
  }
  
  .notification-icon {
    margin-left: 10px;
    font-size: 20px;
  }
  